In [143]:
import pandas as pd

In [144]:
df = pd.read_csv("raw_data.csv",names=["combined_a"], header=None)

In [145]:
df

                                             combined_a
0      order_id | order_status    | customer        ...
1     +----------+-----------------+----------------...
2     |        3 | Order Finished  | Muhammed MacInt...
3     |      293 | Order Finished  | Barry French   ...
4     |      483 | Order Finished  | Clay Rozendal  ...
...                                                 ...
5497  |    52706 | Order Finished  | Paul Prost     ...
5498  |    54279 | Order Finished  | Lisa DeCherney ...
5499  |    55558 | Order Finished  | Philip Brown   ...
5500  |    56581 | Order Finished  | Lisa DeCherney ...
5501  +----------+-----------------+----------------...

[5502 rows x 1 columns]

In [146]:
df = df['combined_a'].str.split("|",expand=True)
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,,None
1,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None,None
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization,
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances,
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication,
...,...,...,...,...,...,...,...,...,...,...,...,...
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories,
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines,
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases,
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings,
5501,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None,None

In [147]:
df = df.drop(11,axis=1)
df

,0,1,2,3,4,5,6,7,8,9,10
0,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,
1,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
...,...,...,...,...,...,...,...,...,...,...,...
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings
5501,+----------+-----------------+----------------...,None,None,None,None,None,None,None,None,None,None

In [148]:
new_col = list(filter(lambda x : x != "",list(df.iloc[0].str.strip())))
new_df = pd.DataFrame(columns=new_col)
new_df

Empty DataFrame
Columns: [order_id, order_status, customer, order_date, order_quantity, sales, discount, discount_value, product_category, product_sub_category]
Index: []

In [149]:
drop_rows = [0,1,len(df) - 1]
df = df.drop(drop_rows, axis = 0)
df

,0,1,2,3,4,5,6,7,8,9,10
2,,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
5,,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
6,,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...,...
5496,,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5497,,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

In [150]:
df = df.drop(0,axis = 1)
df

,1,2,3,4,5,6,7,8,9,10
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
3,293,Order Finished,Barry French,2012-10-01,49,20246040,0.07,1417223,Office Supplies,Appliances
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
5,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,0.08,63083,Office Supplies,Appliances
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5497,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,0.02,41666,Office Supplies,Binders and Binder Accessories
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,0.05,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

In [151]:
col_len = len(new_df.columns)

for i in range(col_len):
    new_df.iloc[:,i] = df.iloc[:,[i]]
    new_df

In [152]:
new_df['sales'] = new_df['sales'].astype(int)

In [153]:
new_df['new_discount'] = new_df['discount'].astype(float) * 100
new_df['discount'] = new_df['new_discount'].astype('int16')
new_df = new_df.drop("new_discount",axis=1)

In [154]:
new_df['order_quantity'] = new_df['order_quantity'].astype('int16')

In [155]:
new_df['order_date'] = pd.to_datetime(new_df['order_date'])

In [156]:
new_df['order_date'].dt.year
new_df['order_date'].dt.day
new_df['order_date'].dt.month
new_df['order_date'].dt.hour
new_df['order_date'].dt.day_name()

2       Wednesday
3          Monday
4          Sunday
5        Saturday
6          Friday
          ...
5496       Friday
5497       Monday
5498     Saturday
5499       Monday
5500       Sunday
Name: order_date, Length: 5499, dtype: object

In [157]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5499 entries, 2 to 5500
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   order_id              5499 non-null   object
 1   order_status          5499 non-null   object
 2   customer              5499 non-null   object
 3   order_date            5499 non-null   datetime64[ns]
 4   order_quantity        5499 non-null   int16
 5   sales                 5499 non-null   int64
 6   discount              5499 non-null   int16
 7   discount_value        5499 non-null   object
 8   product_category      5499 non-null   object
 9   product_sub_category  5499 non-null   object
dtypes: datetime64[ns](1), int16(2), int64(1), object(6)
memory usage: 408.1+ KB

In [158]:
# Display the first 5 rows of the dataset.
new_df.head(5)

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,4,20923,Office Supplies,Storage & Organization
3,293,Order Finished,Barry French,2012-10-01,49,20246040,7,1417223,Office Supplies,Appliances
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
5,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,8,63083,Office Supplies,Appliances
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,3,5612,Office Supplies,Binders and Binder Accessories

In [159]:
#Show the customer and sales columns for the first 10 rows.
new_df.loc[:,["customer","sales"]].head(10)

                    customer     sales
2    Muhammed MacIntyre         523080
3    Barry French             20246040
4    Clay Rozendal             9931519
5    Carlos Soltero             788540
6    Carl Jackson               187080
7    Monica Federle            5563640
8    Dorothy Badders            456820
9    Neola Schneider            393700
10   Carlos Daly               1433680
11   Claudia Miner              161220

In [160]:
#Retrieve the last 3 orders.
new_df[-3:]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,5,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,10,405202,Furniture,Office Furnishings

In [161]:
# Select the order_date column using df['order_date'].
new_df['order_date']

2      2010-10-13
3      2012-10-01
4      2011-07-10
5      2010-08-28
6      2011-06-17
          ...
5496   2010-10-08
5497   2012-07-09
5498   2011-07-30
5499   2010-08-09
5500   2009-02-08
Name: order_date, Length: 5499, dtype: datetime64[ns]

In [162]:
# Show data for the order at index 100 using iloc
new_df.iloc[99]

order_id                                          16039
order_status                            Order Finished
customer                         Michelle Lonsdale
order_date                           2012-05-16 00:00:00
order_quantity                                         3
sales                                             242240
discount                                              10
discount_value                                    24224
product_category                       Technology
product_sub_category     Computer Peripherals
Name: 101, dtype: object

In [163]:
# Get all orders where the order_quantity is less than 50.
new_df.loc[new_df['order_quantity'] < 50]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,4,20923,Office Supplies,Storage & Organization
3,293,Order Finished,Barry French,2012-10-01,49,20246040,7,1417223,Office Supplies,Appliances
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
5,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,8,63083,Office Supplies,Appliances
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,3,5612,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,5,220064,Furniture,Chairs & Chairmats
5497,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,2,41666,Office Supplies,Binders and Binder Accessories
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,5,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,10,405202,Furniture,Office Furnishings

In [164]:
# Display all columns for orders with product_category as "Technology".
new_df.loc[new_df['product_category'].str.strip() == 'Technology']

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
15,1344,Order Finished,Jim Radford,2012-04-15,15,1669808,6,100188,Technology,Telephones and Communication
20,1761,Order Finished,Carl Ludwig,2010-12-23,25,24056460,1,240565,Technology,Copiers and Fax
23,2277,Order Finished,Don Miller,2011-01-01,10,133080,1,1331,Technology,Computer Peripherals
25,2631,Order Finished,Jack Garza,2010-09-23,27,2156980,8,172558,Technology,Computer Peripherals
...,...,...,...,...,...,...,...,...,...,...
5477,52673,Order Finished,Jas O'Carroll,2012-05-08,14,4090132,7,286309,Technology,Telephones and Communication
5479,54019,Order Finished,Daniel Raglin,2009-07-01,35,8466300,8,677304,Technology,Office Machines
5483,56706,Order Finished,Paul Prost,2009-11-10,7,1509840,0,0,Technology,Office Machines
5489,58949,Order Returned,Philip Brown,2012-12-16,50,3117885,2,62358,Technology,Telephones and Communication
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines

In [165]:
#Retrieve rows where discount is exactly 10.
new_df.loc[new_df['discount'] == 10]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
16,1412,Order Finished,Carlos Soltero,2010-03-12,13,118060,10,11806,Office Supplies,Labels
17,1539,Order Finished,Carl Ludwig,2011-03-09,33,1023660,10,102366,Office Supplies,Binders and Binder Accessories
35,5284,Order Finished,Annie Cyprus,2011-07-08,7,118760,10,11876,Office Supplies,Binders and Binder Accessories
36,5316,Order Finished,Clay Rozendal,2009-01-30,42,2570740,10,257074,Technology,Computer Peripherals
41,5894,Order Finished,Ann Chong,2009-08-12,7,768660,10,76866,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5447,37319,Order Finished,Sandra Glassco,2009-08-04,37,777800,10,77780,Office Supplies,Appliances
5461,43298,Order Finished,Corinna Mitchell,2011-07-10,33,11928380,10,1192838,Technology,Copiers and Fax
5473,51424,Order Finished,Nat Gilpin,2012-01-09,48,227960,10,22796,Office Supplies,Rubber Bands
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,10,405202,Furniture,Office Furnishings

In [166]:
# Select only the order_id, sales, and discount columns for the first 15 rows.
new_df.loc[:15,["order_id","sales","discount"]]

      order_id     sales  discount
2           3     523080         4
3         293   20246040         7
4         483    9931519         8
5         515     788540         8
6         613     187080         3
7         643    5563640         7
8         678     456820         7
9         807     393700         1
10        868    1433680         0
11        933     161220         2
12        995    3630980         3
13        998     496520         7
14       1154    8924460         4
15       1344    1669808         6

In [167]:
#Show data for orders placed in the year 2011.
new_df.loc[new_df['order_date'].dt.year == 2011]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,3,5612,Office Supplies,Binders and Binder Accessories
7,643,Order Finished,Monica Federle,2011-03-24,21,5563640,7,389455,Office Supplies,Storage & Organization
12,995,Order Finished,Neola Schneider,2011-05-30,46,3630980,3,108929,Furniture,Office Furnishings
17,1539,Order Finished,Carl Ludwig,2011-03-09,33,1023660,10,102366,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5462,44516,Order Finished,Corinna Mitchell,2011-06-29,17,115920,6,6955,Office Supplies,Pens & Art Supplies
5471,50726,Order Finished,Joni Blumstein,2011-10-31,45,18497480,0,0,Furniture,Chairs & Chairmats
5472,50790,Order Finished,Joni Blumstein,2011-07-16,47,511300,0,0,Furniture,Office Furnishings
5493,14883,Order Finished,Lisa DeCherney,2011-05-06,38,1956800,7,136976,Furniture,Chairs & Chairmats
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines

In [168]:
# Get all orders where order_quantity > 20 and sales < 1000000.
new_df.loc[(new_df['order_quantity'] > 20) & (new_df['sales'] < 1000000)]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
8,678,Order Returned,Dorothy Badders,2010-02-26,44,456820,7,31977,Office Supplies,Paper
9,807,Order Finished,Neola Schneider,2010-11-23,45,393700,1,3937,Office Supplies,Paper
18,1540,Order Finished,Don Miller,2012-08-04,30,161800,9,14562,Office Supplies,Pens & Art Supplies
19,1702,Order Finished,Annie Cyprus,2011-05-06,23,134480,6,8069,Office Supplies,Pens & Art Supplies
21,1792,Order Finished,Carlos Soltero,2010-11-08,28,740960,4,29638,Office Supplies,Storage & Organization
...,...,...,...,...,...,...,...,...,...,...
5473,51424,Order Finished,Nat Gilpin,2012-01-09,48,227960,10,22796,Office Supplies,Rubber Bands
5478,53026,Order Finished,Eva Jacobs,2012-02-26,35,645640,5,32282,Office Supplies,"Scissors, Rulers and Trimmers"
5490,1222,Order Finished,Lisa DeCherney,2010-02-04,48,514780,8,41182,Office Supplies,Paper
5491,5767,Order Finished,Lisa DeCherney,2012-04-28,36,327080,3,9812,Office Supplies,Binders and Binder Accessories
5494,20193,Order Finished,Lisa DeCherney,2010-11-07,23,164240,7,11497,Office Supplies,Binders and Binder Accessories

In [169]:
# Select all orders where product_sub_category contains the word "Binder".
new_df.loc[new_df['product_sub_category'].str.contains('Binder')]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,3,5612,Office Supplies,Binders and Binder Accessories
11,933,Order Finished,Claudia Miner,2012-08-04,15,161220,2,3224,Office Supplies,Binders and Binder Accessories
17,1539,Order Finished,Carl Ludwig,2011-03-09,33,1023660,10,102366,Office Supplies,Binders and Binder Accessories
27,2791,Order Finished,Eugene Barchas,2009-10-09,47,383340,0,0,Office Supplies,Binders and Binder Accessories
29,3232,Order Finished,Brad Eason,2012-10-08,5,85320,6,5119,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5485,57152,Order Finished,Philip Brown,2012-09-03,6,45780,8,3662,Office Supplies,Binders and Binder Accessories
5487,57281,Order Finished,Michael Nguyen,2010-04-20,26,1123320,7,78632,Office Supplies,Binders and Binder Accessories
5491,5767,Order Finished,Lisa DeCherney,2012-04-28,36,327080,3,9812,Office Supplies,Binders and Binder Accessories
5494,20193,Order Finished,Lisa DeCherney,2010-11-07,23,164240,7,11497,Office Supplies,Binders and Binder Accessories
5497,52706,Order Finished,Paul Prost,2012-07-09,34,2083320,2,41666,Office Supplies,Binders and Binder Accessories

In [170]:
# Retrieve top 5 rows sorted by highest discount_value.
new_df.sort_values(by=['discount_value'], ascending=False).head(5)

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
3875,30343,Order Finished,Craig Carreira,2012-05-21,8,82686420,9,7441778,Technology,Office Machines
3144,20967,Order Finished,Deborah Brumfield,2011-03-15,50,57329040,9,5159614,Technology,Copiers and Fax
4165,26629,Order Finished,Muhammed Yedwab,2009-07-10,38,43912060,10,4391206,Technology,Copiers and Fax
1965,51203,Order Finished,Eleni McCrary,2011-12-21,49,53245100,8,4259608,Furniture,Tables
3410,37124,Order Finished,Julie Kriz,2012-03-30,33,42411000,10,4241100,Technology,Copiers and Fax

In [171]:
#Show all customers who placed an order with more than 3% discount and had sales over 10L.
new_df.loc[(new_df['discount'] > 3) & (new_df['sales'] > 1000000)]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
3,293,Order Finished,Barry French,2012-10-01,49,20246040,7,1417223,Office Supplies,Appliances
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
7,643,Order Finished,Monica Federle,2011-03-24,21,5563640,7,389455,Office Supplies,Storage & Organization
14,1154,Order Finished,Sylvia Foulston,2012-02-14,44,8924460,4,356978,Furniture,Bookcases
15,1344,Order Finished,Jim Radford,2012-04-15,15,1669808,6,100188,Technology,Telephones and Communication
...,...,...,...,...,...,...,...,...,...,...
5493,14883,Order Finished,Lisa DeCherney,2011-05-06,38,1956800,7,136976,Furniture,Chairs & Chairmats
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,5,220064,Furniture,Chairs & Chairmats
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,5,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,10,405202,Furniture,Office Furnishings

In [172]:
#Use .loc[] to get order_id, customer, and sales for rows 100 to 120.
new_df.loc[100:119,['order_id','customer','sales']]

       order_id                  customer     sales
100      15937    Monica Federle             622880
101      16039    Michelle Lonsdale          242240
102      16193    Frank Price                600400
103      16423    Bryan Davis                256420
104      16451    Don Jones                  505580
105      16545    Carlos Soltero             101940
106      16547    Nicole Hansen            21109260
107      16706    Beth Thompson             3887440
108      16741    Nicole Hansen              315940
109      16932    Carlos Soltero             289680
110      17283    Dorothy Badders          10944240
111      17286    Muhammed MacIntyre        3621340
112      17409    Muhammed MacIntyre        1267120
113      17764    Don Miller                1288800
114      18080    Sylvia Foulston           2423960
115      18113    Becky Castell             6632160
116      18144    Dorothy Wardle             414160
117      18308    Ann Chong                  228240
118      18887    Clay Rozendal              346834
119      19010    Grant Carroll            47585860

In [173]:
# Display alternate rows from 0 to 50.
df[::2]

,1,2,3,4,5,6,7,8,9,10
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,0.04,20923,Office Supplies,Storage & Organization
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,0.08,794522,Technology,Telephones and Communication
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,0.03,5612,Office Supplies,Binders and Binder Accessories
8,678,Order Returned,Dorothy Badders,2010-02-26,44,456820,0.07,31977,Office Supplies,Paper
10,868,Order Finished,Carlos Daly,2012-06-08,32,1433680,0,0,Office Supplies,Appliances
...,...,...,...,...,...,...,...,...,...,...
5492,11712,Order Finished,Michael Nguyen,2009-04-26,9,77920,0.06,4675,Office Supplies,Pens & Art Supplies
5494,20193,Order Finished,Lisa DeCherney,2010-11-07,23,164240,0.07,11497,Office Supplies,Binders and Binder Accessories
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,0.05,220064,Furniture,Chairs & Chairmats
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,0.1,2014218,Technology,Office Machines
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,0.1,405202,Furniture,Office Furnishings

In [174]:
#Get all orders for "Office Supplies" that were placed in October.
new_df.loc[new_df['order_date'].dt.month == 10]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6,523080,4,20923,Office Supplies,Storage & Organization
3,293,Order Finished,Barry French,2012-10-01,49,20246040,7,1417223,Office Supplies,Appliances
22,2275,Order Finished,Grant Carroll,2012-10-21,49,556000,8,44480,Office Supplies,Pens & Art Supplies
24,2532,Order Finished,Alan Barnes,2011-10-10,39,564140,3,16924,Office Supplies,Labels
27,2791,Order Finished,Eugene Barchas,2009-10-09,47,383340,0,0,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5434,35426,Order Finished,Bill Donatelli,2010-10-03,5,106020,8,8482,Office Supplies,Paper
5436,35686,Order Finished,Harold Pawlan,2010-10-02,48,627040,5,31352,Office Supplies,Paper
5458,41255,Order Finished,Ritsa Hightower,2009-10-18,22,2666380,1,26664,Furniture,Office Furnishings
5471,50726,Order Finished,Joni Blumstein,2011-10-31,45,18497480,0,0,Furniture,Chairs & Chairmats
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,5,220064,Furniture,Chairs & Chairmats

In [175]:
#Retrieve all rows where the customer name starts with "C".
new_df.loc[new_df['customer'].str.strip().str.startswith('C')]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
4,483,Order Finished,Clay Rozendal,2011-07-10,30,9931519,8,794522,Technology,Telephones and Communication
5,515,Order Finished,Carlos Soltero,2010-08-28,19,788540,8,63083,Office Supplies,Appliances
6,613,Order Finished,Carl Jackson,2011-06-17,12,187080,3,5612,Office Supplies,Binders and Binder Accessories
10,868,Order Finished,Carlos Daly,2012-06-08,32,1433680,0,0,Office Supplies,Appliances
11,933,Order Finished,Claudia Miner,2012-08-04,15,161220,2,3224,Office Supplies,Binders and Binder Accessories
...,...,...,...,...,...,...,...,...,...,...
5373,10464,Order Finished,Craig Carroll,2009-08-10,23,243460,1,2435,Office Supplies,Paper
5429,32610,Order Finished,Cari Sayre,2012-08-19,47,633980,4,25359,Office Supplies,"Scissors, Rulers and Trimmers"
5430,32994,Order Finished,Cari Sayre,2012-09-16,34,452820,5,22641,Office Supplies,Paper
5461,43298,Order Finished,Corinna Mitchell,2011-07-10,33,11928380,10,1192838,Technology,Copiers and Fax
5462,44516,Order Finished,Corinna Mitchell,2011-06-29,17,115920,6,6955,Office Supplies,Pens & Art Supplies

In [176]:
# Get all orders that had a round discount (i.e., divisible by 5).
new_df.loc[new_df['discount'] % 5 == 0]

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
10,868,Order Finished,Carlos Daly,2012-06-08,32,1433680,0,0,Office Supplies,Appliances
16,1412,Order Finished,Carlos Soltero,2010-03-12,13,118060,10,11806,Office Supplies,Labels
17,1539,Order Finished,Carl Ludwig,2011-03-09,33,1023660,10,102366,Office Supplies,Binders and Binder Accessories
27,2791,Order Finished,Eugene Barchas,2009-10-09,47,383340,0,0,Office Supplies,Binders and Binder Accessories
30,3524,Order Finished,Nicole Hansen,2012-05-02,21,854640,0,0,Office Supplies,Paper
...,...,...,...,...,...,...,...,...,...,...
5495,46437,Order Finished,Lisa DeCherney,2009-09-15,49,2977320,0,0,Furniture,Office Furnishings
5496,47360,Order Finished,Philip Brown,2010-10-08,25,4401280,5,220064,Furniture,Chairs & Chairmats
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41,20142180,10,2014218,Technology,Office Machines
5499,55558,Order Finished,Philip Brown,2010-08-09,8,2588080,5,129404,Furniture,Bookcases
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20,4052020,10,405202,Furniture,Office Furnishings

In [177]:
# Select last 10 orders that have product_sub_category containing the word "Storage".
new_df.loc[new_df['product_sub_category'].str.strip().str.contains('Storage')].tail(10)

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category
5064,24804,Order Finished,Roland Murray,2011-05-27,20,422840,0,0,Office Supplies,Storage & Organization
5143,6757,Order Returned,Brooke Gillingham,2012-02-01,27,1739560,10,173956,Office Supplies,Storage & Organization
5215,42855,Order Finished,Sonia Cooley,2011-07-08,17,270760,5,13538,Office Supplies,Storage & Organization
5224,50563,Order Finished,Alejandro Ballentine,2011-07-16,2,846080,5,42304,Office Supplies,Storage & Organization
5243,1383,Order Finished,Frank Merwin,2010-04-26,43,34259940,7,2398196,Office Supplies,Storage & Organization
5306,38311,Order Finished,Janet Molinari,2011-04-23,9,2403020,10,240302,Office Supplies,Storage & Organization
5314,42725,Order Finished,Maria Bertelson,2011-05-02,18,462120,4,18485,Office Supplies,Storage & Organization
5349,4705,Order Finished,Meg O'Connel,2012-03-21,16,247700,9,22293,Office Supplies,Storage & Organization
5358,7719,Order Finished,Christine Sundaresam,2009-03-21,37,1045240,2,20905,Office Supplies,Storage & Organization
5399,19521,Order Finished,Bobby Odegard,2009-11-23,9,702120,2,14042,Office Supplies,Storage & Organization

In [222]:
# Display data types of all columns using df.dtypes
new_df.dtypes

order_id                        object
order_status                    object
customer                        object
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value                  object
product_category              category
product_sub_category            object
order_year                     float64
order_month                    float64
dtype: object

In [223]:
#Convert order_date to just the year using dt.year
new_df['order_year'] = new_df['order_date'].dt.year

In [224]:
new_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,order_year,order_month
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6.0,523080.0,4.0,20923,Office Supplies,Storage & Organization,2010,10.0
3,293,Order Finished,Barry French,2012-10-01,49.0,20246040.0,7.0,1417223,Office Supplies,Appliances,2012,10.0
4,483,Order Finished,Clay Rozendal,2011-07-10,30.0,9931519.0,8.0,794522,Technology,Telephones and Communication,2011,7.0
5,515,Order Finished,Carlos Soltero,2010-08-28,19.0,788540.0,8.0,63083,Office Supplies,Appliances,2010,8.0
6,613,Order Finished,Carl Jackson,2011-06-17,12.0,187080.0,3.0,5612,Office Supplies,Binders and Binder Accessories,2011,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25.0,4401280.0,5.0,220064,Furniture,Chairs & Chairmats,2010,10.0
5497,52706,Order Finished,Paul Prost,2012-07-09,34.0,2083320.0,2.0,41666,Office Supplies,Binders and Binder Accessories,2012,7.0
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41.0,20142180.0,10.0,2014218,Technology,Office Machines,2011,7.0
5499,55558,Order Finished,Philip Brown,2010-08-09,8.0,2588080.0,5.0,129404,Furniture,Bookcases,2010,8.0
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20.0,4052020.0,10.0,405202,Furniture,Office Furnishings,2009,2.0

In [225]:
#Check if discount column is numeric.
new_df['discount'].dtype

dtype('float64')

In [226]:
# Convert product_category column to a categorical type.
new_df['product_category'] = new_df['product_category'].str.strip().astype('category')
new_df['product_category'].dtype

CategoricalDtype(categories=['Furniture', 'Office Supplies', 'Technology'], ordered=False, categories_dtype=object)

In [227]:
# Convert sales column to float.
new_df['sales'] = new_df['sales'].astype('float')

In [228]:
new_df.dtypes

order_id                        object
order_status                    object
customer                        object
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value                  object
product_category              category
product_sub_category            object
order_year                       int32
order_month                    float64
dtype: object

In [229]:
# Extract month from order_date and store it in a new column order_month.
new_df['order_month'] = new_df['order_date'].dt.month
new_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,order_year,order_month
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6.0,523080.0,4.0,20923,Office Supplies,Storage & Organization,2010,10
3,293,Order Finished,Barry French,2012-10-01,49.0,20246040.0,7.0,1417223,Office Supplies,Appliances,2012,10
4,483,Order Finished,Clay Rozendal,2011-07-10,30.0,9931519.0,8.0,794522,Technology,Telephones and Communication,2011,7
5,515,Order Finished,Carlos Soltero,2010-08-28,19.0,788540.0,8.0,63083,Office Supplies,Appliances,2010,8
6,613,Order Finished,Carl Jackson,2011-06-17,12.0,187080.0,3.0,5612,Office Supplies,Binders and Binder Accessories,2011,6
...,...,...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25.0,4401280.0,5.0,220064,Furniture,Chairs & Chairmats,2010,10
5497,52706,Order Finished,Paul Prost,2012-07-09,34.0,2083320.0,2.0,41666,Office Supplies,Binders and Binder Accessories,2012,7
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41.0,20142180.0,10.0,2014218,Technology,Office Machines,2011,7
5499,55558,Order Finished,Philip Brown,2010-08-09,8.0,2588080.0,5.0,129404,Furniture,Bookcases,2010,8
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20.0,4052020.0,10.0,405202,Furniture,Office Furnishings,2009,2

In [234]:
# Convert all integer columns to float in one go.

# 1
# new_df = new_df.apply(lambda x: x.astype('float') if x.dtypes in ['int16','int32','int64'] else x.astype(x.dtypes) )

# 2
new_df = new_df.apply(lambda x: x.astype('float') if pd.api.types.is_integer_dtype(x) else x)

new_df.dtypes

order_id                        object
order_status                    object
customer                        object
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value                  object
product_category              category
product_sub_category            object
order_year                     float64
order_month                    float64
dtype: object

In [242]:
# Change order_id to string type.
new_df['order_id'] = new_df['order_id'].astype('string')
new_df.dtypes

order_id                string[python]
order_status                    object
customer                        object
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value                  object
product_category              category
product_sub_category            object
order_year                     float64
order_month                    float64
string                  string[python]
dtype: object

In [245]:
# Create a new column called net_sales = sales - discount_value.
new_df['net_sales'] = new_df['sales'] - new_df['discount_value'].astype('float')
new_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,order_year,order_month,string,net_sales
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6.0,523080.0,4.0,20923,Office Supplies,Storage & Organization,2010.0,10.0,3,502157.0
3,293,Order Finished,Barry French,2012-10-01,49.0,20246040.0,7.0,1417223,Office Supplies,Appliances,2012.0,10.0,293,18828817.0
4,483,Order Finished,Clay Rozendal,2011-07-10,30.0,9931519.0,8.0,794522,Technology,Telephones and Communication,2011.0,7.0,483,9136997.0
5,515,Order Finished,Carlos Soltero,2010-08-28,19.0,788540.0,8.0,63083,Office Supplies,Appliances,2010.0,8.0,515,725457.0
6,613,Order Finished,Carl Jackson,2011-06-17,12.0,187080.0,3.0,5612,Office Supplies,Binders and Binder Accessories,2011.0,6.0,613,181468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25.0,4401280.0,5.0,220064,Furniture,Chairs & Chairmats,2010.0,10.0,47360,4181216.0
5497,52706,Order Finished,Paul Prost,2012-07-09,34.0,2083320.0,2.0,41666,Office Supplies,Binders and Binder Accessories,2012.0,7.0,52706,2041654.0
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41.0,20142180.0,10.0,2014218,Technology,Office Machines,2011.0,7.0,54279,18127962.0
5499,55558,Order Finished,Philip Brown,2010-08-09,8.0,2588080.0,5.0,129404,Furniture,Bookcases,2010.0,8.0,55558,2458676.0
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20.0,4052020.0,10.0,405202,Furniture,Office Furnishings,2009.0,2.0,56581,3646818.0

In [252]:
# Format order_date to “dd-mm-yyyy” string format.
new_df['new_order_date'] = new_df['order_date'].dt.strftime('%d-%m-%Y')
new_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,order_year,order_month,string,net_sales,new_order_date
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6.0,523080.0,4.0,20923,Office Supplies,Storage & Organization,2010.0,10.0,3,502157.0,13-10-2010
3,293,Order Finished,Barry French,2012-10-01,49.0,20246040.0,7.0,1417223,Office Supplies,Appliances,2012.0,10.0,293,18828817.0,01-10-2012
4,483,Order Finished,Clay Rozendal,2011-07-10,30.0,9931519.0,8.0,794522,Technology,Telephones and Communication,2011.0,7.0,483,9136997.0,10-07-2011
5,515,Order Finished,Carlos Soltero,2010-08-28,19.0,788540.0,8.0,63083,Office Supplies,Appliances,2010.0,8.0,515,725457.0,28-08-2010
6,613,Order Finished,Carl Jackson,2011-06-17,12.0,187080.0,3.0,5612,Office Supplies,Binders and Binder Accessories,2011.0,6.0,613,181468.0,17-06-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25.0,4401280.0,5.0,220064,Furniture,Chairs & Chairmats,2010.0,10.0,47360,4181216.0,08-10-2010
5497,52706,Order Finished,Paul Prost,2012-07-09,34.0,2083320.0,2.0,41666,Office Supplies,Binders and Binder Accessories,2012.0,7.0,52706,2041654.0,09-07-2012
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41.0,20142180.0,10.0,2014218,Technology,Office Machines,2011.0,7.0,54279,18127962.0,30-07-2011
5499,55558,Order Finished,Philip Brown,2010-08-09,8.0,2588080.0,5.0,129404,Furniture,Bookcases,2010.0,8.0,55558,2458676.0,09-08-2010
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20.0,4052020.0,10.0,405202,Furniture,Office Furnishings,2009.0,2.0,56581,3646818.0,08-02-2009

In [260]:
# Find out how many unique data types are present in the DataFrame.
set(new_df.dtypes)
new_df.dtypes.unique()

array([string[python], dtype('O'), dtype('<M8[ns]'), dtype('float64'),
       CategoricalDtype(categories=['Furniture', 'Office Supplies', 'Technology'], ordered=False, categories_dtype=object)],
      dtype=object)

In [263]:
# Convert the discount column to a boolean mask where discount > 5 is True.
new_df['discount'] > 5

2       False
3        True
4        True
5        True
6       False
        ...
5496    False
5497    False
5498     True
5499    False
5500     True
Name: discount, Length: 5499, dtype: bool

In [268]:
# Check memory usage before and after converting object columns to category.
new_df.memory_usage(deep=True)
new_df.apply(lambda x: x.astype('category') if pd.api.types.is_object_dtype(x) else x)
new_df.memory_usage(deep=True)

Index                   176128
order_id                324441
order_status            362934
customer                401427
order_date               43992
order_quantity           43992
sales                    43992
discount                 43992
discount_value          357435
product_category          5788
product_sub_category    445419
order_year               43992
order_month              43992
string                  324441
net_sales                43992
new_order_date          324441
dtype: int64

In [278]:
# Extract week number from order_date.
new_df['order_date'].dt.isocalendar().week

2       41
3       40
4       27
5       34
6       24
        ..
5496    40
5497    28
5498    30
5499    32
5500     6
Name: week, Length: 5499, dtype: UInt32

In [283]:
# Check for any rows where conversion to datetime failed (if you re-import raw text dates).
pd.to_datetime(new_df['order_date'], errors='coerce').isna()

2       False
3       False
4       False
5       False
6       False
        ...
5496    False
5497    False
5498    False
5499    False
5500    False
Name: order_date, Length: 5499, dtype: bool

In [292]:
# Use .astype('category') on product_sub_category and compare performance.
new_df['product_sub_category'].memory_usage(deep=True)
new_df['product_sub_category'] = new_df['product_sub_category'].astype('category')
new_df['product_sub_category'].memory_usage(deep=True)
# 621547 - 183560

183560

In [311]:
# Build a new column discount_rate = discount_value / sales and convert to %

new_df['discount_rate'] = new_df['discount_value'].astype(int) / new_df['sales']
new_df['discount_rate'] = round(new_df['discount_rate'] * 100,3)
new_df['discount_rate']

2        4.0
3        7.0
4        8.0
5        8.0
6        3.0
        ...
5496     5.0
5497     2.0
5498    10.0
5499     5.0
5500    10.0
Name: discount_rate, Length: 5499, dtype: float64

In [318]:
# Convert all object columns to string type using a loop.
new_df = new_df.apply(lambda x: x.astype('string') if x.dtypes == 'object' else x)
new_df.dtypes

order_id                string[python]
order_status            string[python]
customer                string[python]
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value          string[python]
product_category              category
product_sub_category          category
order_year                     float64
order_month                    float64
string                  string[python]
net_sales                      float64
new_order_date          string[python]
discount_rate                  float64
dtype: object

In [320]:
# Create a new column order_decade from year (e.g., 2010s, 2020s).
new_df['order_decade'] = (new_df['order_date'].dt.year // 10) * 10
new_df

,order_id,order_status,customer,order_date,order_quantity,sales,discount,discount_value,product_category,product_sub_category,order_year,order_month,string,net_sales,new_order_date,discount_rate,order_decade
2,3,Order Finished,Muhammed MacIntyre,2010-10-13,6.0,523080.0,4.0,20923,Office Supplies,Storage & Organization,2010.0,10.0,3,502157.0,13-10-2010,4.0,2010
3,293,Order Finished,Barry French,2012-10-01,49.0,20246040.0,7.0,1417223,Office Supplies,Appliances,2012.0,10.0,293,18828817.0,01-10-2012,7.0,2010
4,483,Order Finished,Clay Rozendal,2011-07-10,30.0,9931519.0,8.0,794522,Technology,Telephones and Communication,2011.0,7.0,483,9136997.0,10-07-2011,8.0,2010
5,515,Order Finished,Carlos Soltero,2010-08-28,19.0,788540.0,8.0,63083,Office Supplies,Appliances,2010.0,8.0,515,725457.0,28-08-2010,8.0,2010
6,613,Order Finished,Carl Jackson,2011-06-17,12.0,187080.0,3.0,5612,Office Supplies,Binders and Binder Accessories,2011.0,6.0,613,181468.0,17-06-2011,3.0,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5496,47360,Order Finished,Philip Brown,2010-10-08,25.0,4401280.0,5.0,220064,Furniture,Chairs & Chairmats,2010.0,10.0,47360,4181216.0,08-10-2010,5.0,2010
5497,52706,Order Finished,Paul Prost,2012-07-09,34.0,2083320.0,2.0,41666,Office Supplies,Binders and Binder Accessories,2012.0,7.0,52706,2041654.0,09-07-2012,2.0,2010
5498,54279,Order Finished,Lisa DeCherney,2011-07-30,41.0,20142180.0,10.0,2014218,Technology,Office Machines,2011.0,7.0,54279,18127962.0,30-07-2011,10.0,2010
5499,55558,Order Finished,Philip Brown,2010-08-09,8.0,2588080.0,5.0,129404,Furniture,Bookcases,2010.0,8.0,55558,2458676.0,09-08-2010,5.0,2010
5500,56581,Order Finished,Lisa DeCherney,2009-02-08,20.0,4052020.0,10.0,405202,Furniture,Office Furnishings,2009.0,2.0,56581,3646818.0,08-02-2009,10.0,2000

In [334]:
# Find all rows where converting sales to int after a float operation gives a mismatch.
new_df['sales'] = pd.to_numeric(new_df['sales'], errors='coerce')
new_df.dtypes

order_id                string[python]
order_status            string[python]
customer                string[python]
order_date              datetime64[ns]
order_quantity                 float64
sales                          float64
discount                       float64
discount_value          string[python]
product_category              category
product_sub_category          category
order_year                     float64
order_month                    float64
string                  string[python]
net_sales                      float64
new_order_date          string[python]
discount_rate                  float64
order_decade                     int32
dtype: object